.description {
    width: 100%;
    margin-top: 1%;
    font-weight: bold;
    font-size: 22px;
}

#classDescription {
    width: 100%;
}

.profiles {
    width: 58%;
}

#saveDescription {
    margin-bottom: 1em;
}

.profilesList div {
    width: auto;
    height: auto;
    display: inline-block;  
}

.profilesList img {
    border: solid 1px;
    clear: both;
    float: left;
    cursor: pointer;
    margin-left: 5%;
}

.profilesList label {
    width: 100%;
    padding: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
    clear: both;
    float: left;
    cursor: pointer;
}