.description {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 10em;
    min-height: 10em;
    max-height: 10em;
    margin-top: 1%;
    font-weight: bold;
    font-size: 22px;
    resize: none;
    overflow: auto;
}

#classDescription {
    width: 100%;
}

.profiles {
    width: 58%;
}

#saveDescription {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 17px;
}

.profilesList div {
    width: auto;
    height: auto;
    display: inline-block;  
}

.profilesList img {
    border: solid 1px;
    clear: both;
    float: left;
    cursor: pointer;
    margin-left: 5%;
}

.profilesList label {
    width: 100%;
    padding: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
    clear: both;
    float: left;
    cursor: pointer;
}