.updates {
    float: left;
    width: 50%;
    background-color: cyan;
}

.projects {
    float: right;
    width: 50%;
}

.header {
    color: red;
}

.menu {
    background-color: darkslategray;
    width: 100%;
    clear: right;
    text-align: center;
}

.menu button, span {
    background-color: darkslategray;
    color: white;
    border: none;
}

.menu button {
    cursor: pointer;
}