#newsList {
    list-style-type: none;
    float: left;
    padding: 1%;
    margin-top: 2%;
}

#newsList li {
    float: left;
}

#newsList li:not(:last-child) {
    margin-bottom: 2%;
}

#newsEdit {
    margin-top: 1.5%;
}

#newsEdit button {
    border-radius: 7px;
    cursor: pointer;
}

#newsDetails {
    width: 50%;
    height: 30%;
}