#newsList {
    list-style-type: none;
    padding: 1%;
    margin-top: 2%;
    width: 95%;
    float: none;
    height: 41%;
}

#newsList li {
    float: left;
    width: 100%;
    word-break: break-all;
    margin-top: 0.1em;
    height: auto;
    max-height: 5em;
}

#newsList li textarea {
    width: inherit;
    overflow: auto !important;
    resize: none;
    border-radius: 7px;
    height: inherit;
    max-height: inherit !important;
}

#newsList li:not(:last-child) {
    margin-bottom: 2%;
}