#newsList {
    list-style-type: none;
    float: left;
    padding: 1%;
    margin-top: 2%;
    width: 85%;
    float: none;
    height: 41%;
}

#newsList li {
    float: left;
}

#newsList li:not(:last-child) {
    margin-bottom: 2%;
}