#newsEdit {
    float: left;
    margin-top: 2%;
    width: 58%;
    float: none;
    height: auto;
}

#newsList {
    width: 100%;
    list-style-type: none;
    float: left;
    margin-left: -2.5em;
}

#newsList li {
    float: left;
    width: 100%;
}

center label:first-of-type {
    font-weight: bold;
    font-size: 20px;
}

#newsList li textarea {
    width: 97%;
    max-width: 97%;
    min-width: 97%;
    resize: none;
    height: 10em;
    overflow: auto;
}

#newsList li:not(:last-child) {
    margin-bottom: 2%;
}

#newsEdit {
    margin-top: 1.5%;
}

#newsEdit button {
    border-radius: 7px;
    cursor: pointer;
}